<template>
  <q-dialog
    v-model="invoiceDialog.show"
    position="top"
    persistent
    @hide="closeInvoiceDialog"
  >
    <q-card
      v-if="invoiceDialog.data"
      class="q-pa-lg q-pt-xl lnbits__dialog-card"
    >
      <div
        v-if="invoiceDialog.data.payment_request == 'tap_to_pay'"
        class="text-center q-mb-xl"
      >
        <h3>Waiting for card…</h3>
        <div class="q-mt-md text-grey">
          <q-spinner size="24px" class="q-mr-sm" />
        </div>
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
      </div>
      <div v-else>
        <lnbits-qrcode
          :show-buttons="false"
          :value="isLNURL(invoiceDialog.data.payment_request) 
          ? invoiceDialog.data.fallback 
          : invoiceDialog.data.payment_request"
          :href="invoiceDialog.data.payment_request"
        ></lnbits-qrcode>
        <div class="text-center">
          <h3 class="q-my-md">${ amountWithTipFormatted }</h3>
          <h5 class="q-mt-none q-mb-sm">
            ${ amountFormatted }
            <span v-show="tip_options" style="font-size: 0.75rem"
              >(+ ${ tipAmountFormatted } tip)</span
            >
          </h5>
          <q-chip v-if="nfcTagReading" square>
            <q-avatar icon="nfc" color="positive" text-color="white"></q-avatar>
            NFC supported
          </q-chip>
          <span v-else class="text-caption text-grey">NFC not supported</span>
        </div>
        <div class="row q-mt-lg">
          <q-btn
            outline
            color="grey"
            @click="copyText(invoiceDialog.data.payment_request)"
            >Copy invoice</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
        </div>
      </div>
    </q-card>
  </q-dialog>

  <q-dialog v-model="tipDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <div class="text-center q-mb-xl">
        <b style="font-size: 24px">Would you like to leave a tip?</b>
      </div>
      <div class="text-center q-mb-xl">
        <q-btn
          style="padding: 10px; margin: 3px"
          unelevated
          @click="processTipSelection(tip)"
          size="lg"
          :outline="!($q.dark.isActive)"
          rounded
          color="primary"
          v-for="tip in tip_options.filter(f => f != 'Round')"
          :key="tip"
          >${ tip }%</q-btn
        >
        <q-btn
          style="padding: 10px; margin: 3px"
          unelevated
          @click="setRounding"
          size="lg"
          :outline="!($q.dark.isActive)"
          rounded
          color="primary"
          label="Round to"
        ></q-btn>
        <div class="row q-my-lg" v-if="rounding">
          <q-input
            class="col"
            ref="inputRounding"
            v-model.number="tipRounding"
            :placeholder="roundToSugestion"
            type="number"
            hint="Total amount including tip"
            :prefix="currency"
          >
          </q-input>
          <q-btn
            class="q-ml-sm"
            style="margin-bottom: 20px"
            color="primary"
            @click="calculatePercent"
            >Ok</q-btn
          >
        </div>
      </div>
      <div class="row q-mt-lg">
        <q-btn flat color="primary" @click="processTipSelection(0)"
          >No, thanks</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
      </div>
    </q-card>
  </q-dialog>

  <q-dialog v-model="urlDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <lnbits-qrcode value="{{ request.url }}"></lnbits-qrcode>
      <div class="text-center q-mb-xl">
        <p style="word-break: break-all">
          <strong>{{ tpos.name }}</strong><br />{{ request.url }}
        </p>
      </div>
      <div class="row q-mt-lg">
        <q-btn
          outline
          color="grey"
          @click="copyText('{{ request.url }}', 'TPoS URL copied to clipboard!')"
          >Copy URL</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
      </div>
    </q-card>
  </q-dialog>

  <q-dialog v-model="complete.show" position="top">
    <q-icon
      name="check"
      transition-show="fade"
      class="text-light-green"
      style="font-size: min(90vw, 40em)"
    ></q-icon>
  </q-dialog>

  <q-dialog v-model="lastPaymentsDialog.show" position="bottom">
    <q-card class="lnbits__dialog-card">
      <q-card-section class="row items-center q-pb-sm">
        <q-space></q-space>
        <q-btn icon="close" size="sm" flat round dense v-close-popup></q-btn>
      </q-card-section>
      <q-list separator class="q-mb-lg">
        <q-item v-if="!lastPaymentsDialog.data.length">
          <q-item-section>
            <q-item-label class="text-bold">No paid invoices</q-item-label>
          </q-item-section>
        </q-item>
        <q-expansion-item
          @show="payment.amount > 0 ? showDetails(payment.checking_id) : null"
          @before-hide="paymentDetails = null"
          group="paymentList"
          v-for="(payment, idx) in lastPaymentsDialog.data"
          :key="idx"
          dense
        >
          <template v-slot:header>
            <q-item-section>
              <q-item-label v-if="payment.amountFiat">
                <span class="text-bold" v-text="payment.amountFiat"></span>
                <span
                  class="text-italic q-ml-sm"
                  v-text="`(${payment.amountFiatNow})`"
                >
                </span>
                <q-tooltip>
                  Amount at payment time vs current amount
                </q-tooltip>
              </q-item-label>
              <q-item-label
                class="text-bold"
                v-text="formatBalance(payment.amount  / 1000)"
              >
              </q-item-label>
              <q-item-label caption>
                <q-icon
                  class="q-mr-sm"
                  size="sm"
                  name="check"
                  color="green"
                ></q-icon>
                <span v-text="payment.dateFrom"></span>
              </q-item-label>
              <q-item-label
                caption
                lines="2"
                v-text="`Hash: ${payment.checking_id.slice(0, 30)}...`"
              ></q-item-label>
            </q-item-section>
          </template>
          <q-card class="q-ma-md">
            <q-card-section v-if="paymentDetails && paymentDetails.items">
              <q-list separator dense>
                <q-item
                  v-for="(item, index) in paymentDetails.items"
                  :key="index"
                >
                  <q-item-section>
                    <q-item-label
                      v-text="`${item.quantity} x ${item.title}`"
                    ></q-item-label>
                    <q-item-label
                      v-if="item.note"
                      caption
                      v-text="item.note"
                    ></q-item-label>
                    <q-item-label
                      caption
                      v-text="formatAmount(item.price * item.quantity, currency)"
                    ></q-item-label>
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    <q-item-label class="text-bold">Total</q-item-label>
                  </q-item-section>
                  <q-item-section side>
                    <q-item-label
                      class="text-bold"
                      v-text="payment.amountFiat"
                    ></q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card-section>
            <q-inner-loading :showing="!paymentDetails">
              <q-spinner-gears size="30px" color="primary"></q-spinner-gears>
            </q-inner-loading>
            <q-card-actions
              align="right"
              v-if="enablePrint && payment.amount > 0"
            >
              <q-btn
                round
                icon="print"
                color="primary"
                @click.stop="printReceipt(payment.checking_id)"
              ></q-btn>
            </q-card-actions>
          </q-card>
        </q-expansion-item>
      </q-list>
    </q-card>
  </q-dialog>

  <q-dialog v-model="heldCartsDialog.show" position="bottom">
    <q-card class="lnbits__dialog-card">
      <q-card-section class="row items-center q-pb-none">
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>
      <q-list separator>
        <q-item
          v-for="[key, value] in Object.entries(heldCarts)"
          :key="key"
          clickable
        >
          <q-item-section @click="restoreCart(key)">
            <q-item-label class="text-bold" v-text="formatDate(key)">
            </q-item-label>
            <q-item-label caption lines="2" v-text="value.note"></q-item-label>
          </q-item-section>
          <q-item-section side top>
            <q-btn
              icon="delete"
              color="red"
              @click.stop="deleteHeldCart(key)"
              class="q-ml-sm"
              size="sm"
              round
            ></q-btn>
          </q-item-section>
        </q-item>
      </q-list>
    </q-card>
  </q-dialog>

  <q-dialog v-model="atmBox" @hide="atmPin = null">
    <q-card>
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Withdraw PIN</div>
      </q-card-section>
      <q-card-section>
        <q-form @submit="atmSubmit" class="q-gutter-md">
          <q-input
            autofocus
            filled
            :type="hidePin ? 'password' : 'number'"
            v-model.number="atmPin"
            inputmode="numeric"
            ><template v-slot:append>
              <q-icon
                :name="hidePin ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="hidePin = !hidePin"
              ></q-icon> </template
          ></q-input>
          <div>
            <q-btn label="Submit" type="submit" color="primary"></q-btn>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-dialog v-model="lnaddressDialog.show">
    <q-card>
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">LNaddress</div>
      </q-card-section>
      <q-card-section>
        <q-form autofocus @submit="lnaddressSubmit" class="q-gutter-md">
          <q-input filled type="text" v-model="lnaddressDialog.lnaddress">
          </q-input>
          <div>
            <q-btn label="Submit" type="submit" color="primary"></q-btn>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <q-dialog v-model="currency_choice">
    <q-card class="q-pa-md">
      <div class="text-h6 q-mb-md">Payment Method</div>
      <div class="column q-gutter-y-sm">
        <q-btn
          class="q-ma-sm"
          size="xl"
          label="Bitcoin"
          color="primary"
          rounded
          @click="selectPaymentMethod('btc')"
        >
        </q-btn>
      </div>
      <div class="row q-gutter-sm q-pt-md justify-center">
        <q-btn
          class="q-ma-sm"
          size="lg"
          :label="currency + ' QR'"
          color="secondary"
          rounded
          @click="selectPaymentMethod('fiat')"
        ></q-btn>
        <q-btn
          class="q-ma-sm"
          size="lg"
          :label="currency + ' TAP'"
          color="secondary"
          rounded
          @click="selectPaymentMethod('fiat_tap')"
        ></q-btn>
      </div>
    </q-card>
  </q-dialog>
</template>
