{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn
          unelevated
          color="primary"
          @click="formDialog.show = true; formDialog.data.withdrawpin = generatePIN()"
          >New TPoS</q-btn
        >
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">TPoS</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportCSV">Export to CSV</q-btn>
          </div>
        </div>
        <q-table
          dense
          flat
          :data="tposs"
          row-key="id"
          :columns="tpossTable.columns"
          :pagination.sync="tpossTable.pagination"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                ${ col.label }
              </q-th>
              <q-th auto-width>Tip Wallet</q-th>
              <q-th auto-width>Tip Options %</q-th>
              <q-th auto-width>Withdraw PIN</q-th>
              <q-th auto-width>Withdraw Limit</q-th>
              <q-th auto-width>Withdraw Premium</q-th>
              <q-th auto-width></q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  size="sm"
                  color="accent"
                  round
                  dense
                  @click="props.expand = !props.expand"
                  :icon="props.expand ? 'expand_less' : 'expand_more'"
                />
              </q-td>
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="sm"
                  icon="qr_code"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  class="q-mr-sm"
                  @click="openUrlDialog(props.row.id)"
                  ><q-tooltip>PoS QR</q-tooltip></q-btn
                >
                <q-btn
                  unelevated
                  dense
                  size="sm"
                  icon="launch"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="props.row.tpos"
                  target="_blank"
                  ><q-tooltip>Open PoS</q-tooltip></q-btn
                >
              </q-td>
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="md"
                  copy="copy"
                  @click="copyText(props.row.id)"
                  ><q-tooltip>Click to copy</q-tooltip
                  >${props.row.id.substring(0,6)}...</q-btn
                >
              </q-td>

              <q-td
                v-for="col in props.cols"
                v-if="col.name != 'id'"
                :key="col.name"
                :props="props"
              >
                ${ (col.name == 'tip_options' && col.value ?
                JSON.parse(col.value).join(", ") : col.value) }
              </q-td>
              <q-td
                v-if="props.row.tip_wallet && props.row.tip_wallet != ''"
                auto-width
              >
                <q-btn
                  unelevated
                  dense
                  size="md"
                  copy="copy"
                  @click="copyText(props.row.tip_wallet)"
                  ><q-tooltip>Click to copy</q-tooltip
                  >${props.row.tip_wallet.substring(0,6)}...</q-btn
                >
              </q-td>
              <q-td v-else auto-width> N/A </q-td>
              <q-td v-if="props.row.tip_wallet != ''" auto-width>
                ${props.row.tip_options}
              </q-td>
              <q-td v-else auto-width>N/A </q-td>
              <q-td v-if="props.row.withdrawlimit >= 1" auto-width>
                ${props.row.withdrawpin}
              </q-td>
              <q-td v-else auto-width> N/A </q-td>
              <q-td v-if="props.row.withdrawlimit >= 1" auto-width>
                ${props.row.withdrawlimit}
              </q-td>
              <q-td v-else auto-width> N/A </q-td>
              <q-td v-if="props.row.withdrawpremium > 0" auto-width>
                ${props.row.withdrawpremium}%
              </q-td>
              <q-td v-else auto-width> 0 </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="updateTPosForm(props.row.id)"
                  icon="edit"
                  color="blue"
                ></q-btn>
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteTPoS(props.row.id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>
            </q-tr>
            <q-tr v-show="props.expand" :props="props">
              <q-td colspan="100%">
                <div class="row items-center q-mb-lg">
                  <div class="col-12">
                    <q-tabs
                      v-model="tab"
                      no-caps
                      class="bg-dark text-white shadow-2"
                    >
                      <q-tab name="items" label="Items"></q-tab>
                    </q-tabs>
                    <q-tab-panels v-model="tab">
                      <q-tab-panel name="items">
                        <div>
                          <div class="row items-center no-wrap q-mb-md">
                            <div class="col-12 q-pr-lg">
                              <q-btn
                                color="primary"
                                unelevated
                                @click="openItemDialog(props.row.id)"
                                class="float-left q-my-sm"
                                >Add Item</q-btn
                              >
                              <q-btn
                                color="grey"
                                outline
                                unelevated
                                @click="deleteAllItems(props.row.id)"
                                class="float-left q-my-sm q-ml-sm"
                                >Delete All</q-btn
                              >
                              <q-btn-dropdown
                                class="float-right q-my-sm"
                                outline
                                color="primary"
                                label="Import/Export"
                              >
                                <q-list>
                                  <q-item
                                    clickable
                                    v-close-popup
                                    @click="importJSON(props.row.id)"
                                  >
                                    <input
                                      id="import"
                                      type="file"
                                      accept=".json"
                                      style="display: none"
                                    />
                                    <q-item-section>
                                      <q-item-label>Import</q-item-label>
                                      <q-item-label caption
                                        >Import a JSON file</q-item-label
                                      >
                                    </q-item-section>
                                  </q-item>

                                  <q-item
                                    clickable
                                    v-close-popup
                                    @click="exportJSON(props.row.id)"
                                  >
                                    <q-item-section>
                                      <q-item-label>Export</q-item-label>
                                      <q-item-label caption
                                        >Export a JSON file</q-item-label
                                      >
                                    </q-item-section>
                                  </q-item>
                                </q-list>
                              </q-btn-dropdown>
                            </div>
                          </div>
                          <div class="row items-center no-wrap q-mb-md">
                            <div class="col-12">
                              <q-table
                                flat
                                dense
                                :data="itemsArray(props.row.id)"
                                row-key="id"
                                :columns="itemsTable.columns"
                                :pagination.sync="itemsTable.pagination"
                              >
                                <template v-slot:header="props">
                                  <q-tr :props="props">
                                    <q-th
                                      v-for="col in props.cols"
                                      :key="col.name"
                                      :props="props"
                                    >
                                      ${ col.label }
                                    </q-th>
                                  </q-tr>
                                </template>
                                <template v-slot:body="props">
                                  <q-tr :props="props">
                                    <q-td auto-width>
                                      <q-btn
                                        size="sm"
                                        color="pink"
                                        dense
                                        @click="deleteItem(props.row.id)"
                                        icon="delete"
                                      ></q-btn>
                                    </q-td>
                                    <q-td auto-width>
                                      <q-btn
                                        size="sm"
                                        color="accent"
                                        dense
                                        @click="openItemDialog(props.row.id)"
                                        icon="edit"
                                      ></q-btn>
                                    </q-td>

                                    <q-td key="id" :props="props">
                                      ${props.row.id.split(':')[1]}
                                    </q-td>
                                    <q-td key="title" :props="props">
                                      ${props.row.title}
                                    </q-td>
                                    <q-td key="price" :props="props">
                                      ${itemFormatPrice(props.row.price,
                                      props.row.id)}
                                    </q-td>
                                    <q-td key="tax" :props="props">
                                      ${props.row.tax}%
                                    </q-td>
                                    <q-td key="disabled" :props="props">
                                      ${props.row.disabled}
                                    </q-td>
                                  </q-tr>
                                </template>
                              </q-table>
                            </div>
                          </div>
                        </div>
                      </q-tab-panel>
                    </q-tab-panels>
                  </div>
                </div>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">{{SITE_TITLE}} TPoS extension</h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list>
          {% include "tpos/_api_docs.html" %}
          <q-separator></q-separator>
          {% include "tpos/_tpos.html" %}
        </q-list>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="formDialog.show" position="top" @hide="closeFormDialog">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="sendTPosData" class="q-gutter-md">
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.name"
          label="Name"
          placeholder="Tiago's PoS"
        ></q-input>
        <q-select
          filled
          dense
          emit-value
          v-model="formDialog.data.wallet"
          :options="g.user.walletOptions"
          label="Wallet *"
        ></q-select>
        <q-select
          filled
          dense
          emit-value
          v-model="formDialog.data.currency"
          :options="currencyOptions"
          label="Currency *"
        ></q-select>
        <div class="row">
          <div class="col">
            <q-checkbox
              v-model="formDialog.advanced.tips"
              label="Enable tips"
            ></q-checkbox>
          </div>
          <div class="col">
            <q-checkbox
              v-model="formDialog.advanced.otc"
              label="Enable selling Bitcoin (ATM)"
            ></q-checkbox>
          </div>
        </div>
        <template v-if="formDialog.advanced.tips">
          <q-select
            filled
            dense
            emit-value
            v-model="formDialog.data.tip_wallet"
            :options="g.user.walletOptions"
            label="Tip Wallet"
          ></q-select>
          <q-select
            filled
            multiple
            dense
            emit-value
            v-model="formDialog.data.tip_options"
            v-if="formDialog.data.tip_wallet"
            use-input
            use-chips
            hide-dropdown-icon
            input-debounce="0"
            new-value-mode="add-unique"
            label="Tip % Options (hit enter to add values)"
            ><q-tooltip>Hit enter to add values</q-tooltip>
            <template v-slot:hint>
              You can leave this blank. A default rounding option is available
              (round amount to a value)
            </template>
          </q-select>
        </template>
        <template v-if="formDialog.advanced.otc">
          <q-input
            filled
            dense
            v-model.number="formDialog.data.withdrawlimit"
            type="number"
            label="Max amount to be sold daily (sats)"
          ></q-input>

          <div class="row">
            <div class="col-8">
              <q-input
                filled
                dense
                v-model.number="formDialog.data.withdrawpin"
                type="number"
                label="Withdraw PIN"
                :disable="formDialog.data.withdrawpindisabled"
              ></q-input>
            </div>
            <div class="col-4">
              <q-toggle
                v-model="formDialog.data.withdrawpindisabled"
                color="primary"
                label="disable"
              ></q-toggle>
            </div>
          </div>

          <div class="row">
            <div class="col-8">
              <q-input
                filled
                dense
                v-model.number="formDialog.data.withdrawbtwn"
                type="number"
                min="0"
                label="Time between withdraws"
              ></q-input>
            </div>
            <div class="col-4">
              <q-option-group
                v-model="formDialog.data.withdrawtimeopt"
                :options="withdrawoptions"
                color="primary"
                inline
              ></q-option-group>
            </div>
          </div>

          <q-input
            filled
            dense
            v-model.number="formDialog.data.withdrawpremium"
            type="number"
            label="Withdraw premium (0.00 to 1.00 %)"
            step="0.01"
            min="0"
            max="1"
          ></q-input>
        </template>
        <q-list>
          <q-expansion-item
            expand-separator
            icon="inventory"
            label="Tax settings"
            caption="Only applicable when using items/products"
          >
            <q-card>
              <q-card-section>
                Tax Inclusive means the unit price includes tax. (default)
                <br />
                Tax Exclusive means tax is applied on top of the unit price.
              </q-card-section>
              <q-card-section>
                <div class="row q-mt-lg">
                  <div class="col-12 col-md-6">
                    <q-toggle
                      v-model="formDialog.data.tax_inclusive"
                      :label="formDialog.data.tax_inclusive ? 
                                  'Tax Inclusive' :
                                  'Tax Exclusive'"
                      ><q-tooltip>
                        <span
                          v-text="'Applies to all products'"
                        ></span> </q-tooltip
                    ></q-toggle>
                  </div>
                  <div class="col-12 col-md-6">
                    <q-input
                      filled
                      dense
                      v-model.number="formDialog.data.tax_default"
                      type="number"
                      label="Default tax rate %"
                      step="0.01"
                      min="0"
                      max="100"
                      hint="Fallback tax rate if not set on product"
                    ></q-input>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </q-list>
        <div class="row q-mt-lg">
          <q-btn
            v-if="formDialog.data.id"
            unelevated
            color="primary"
            type="submit"
            >Update TPoS</q-btn
          >
          <q-btn
            v-else
            unelevated
            color="primary"
            :disable="formDialog.data.currency == null || formDialog.data.name == null"
            type="submit"
            >Create TPoS</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
  <q-dialog v-model="itemDialog.show" position="top" @hide="closeItemDialog">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="addItems" class="q-gutter-md">
        <q-input
          filled
          dense
          v-model.trim="itemDialog.data.title"
          label="Title *"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="itemDialog.data.description"
          label="Description"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="itemDialog.data.image"
          label="Image URL"
        ></q-input>
        <q-input
          filled
          dense
          v-model.number="itemDialog.data.price"
          :label="`Price (${itemDialog.data.currency})*`"
        ></q-input>
        <q-select
          filled
          multiple
          dense
          emit-value
          v-model="itemDialog.data.categories"
          :options="categoryList"
          use-input
          use-chips
          hide-dropdown-icon
          input-debounce="0"
          new-value-mode="add-unique"
          label="Categories (hit enter to add values)"
        ></q-select>
        <q-input
          filled
          dense
          v-model.number="itemDialog.data.tax"
          label="Tax %"
          :hint="`${itemDialog.taxInclusive ? 'Tax is included on unit price' : 'Tax is added on top of unit price'}. You can change behaviour on TPoS settings.`"
        ></q-input>
        <q-checkbox
          v-model="itemDialog.data.disabled"
          label="Disable"
        ></q-checkbox>
        <div class="row q-mt-lg">
          <q-btn
            unelevated
            color="primary"
            :disable="!Boolean(itemDialog.data.title) || !Boolean(itemDialog.data.price)"
            type="submit"
            >${itemDialog.data.id ? 'Update Item' : 'Create Item'}</q-btn
          >
          <q-btn
            v-close-popup
            @hide="closeItemDialog"
            flat
            color="grey"
            class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
  <q-dialog v-model="urlDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-responsive :ratio="1" class="q-mx-xl q-mb-md">
        <lnbits-qrcode :value="urlDialog.data.shareUrl"></lnbits-qrcode>
      </q-responsive>
      <div class="text-center q-mb-xl">
        <p style="word-break: break-all">
          <strong>${ urlDialog.data.name }</strong><br />${
          urlDialog.data.shareUrl }
        </p>
      </div>
      <div class="row q-mt-lg">
        <q-btn
          outline
          color="grey"
          @click="copyText(urlDialog.data.shareUrl, 'TPoS URL copied to clipboard!')"
          >Copy URL</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
      </div>
    </q-card>
  </q-dialog>
  <q-dialog v-model="fileDataDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          Importing ${fileDataDialog?.count} items
        </h6>
      </q-card-section>
      <q-list bordered padding separator>
        <q-item v-for="item in fileDataDialog.data" :key="item.name">
          <q-item-section v-if="item.image" top avatar>
            <q-avatar>
              <img :src="item.image" style="object-fit: scale-down" />
            </q-avatar>
          </q-item-section>

          <q-item-section>
            <q-item-label>${item.title}</q-item-label>
            <q-item-label v-if="item.description" caption
              >${item.description}</q-item-label
            >
          </q-item-section>

          <q-item-section side top>
            <q-badge :label="item.formattedPrice" />
          </q-item-section>
        </q-item>
      </q-list>
      <div class="row q-mt-lg">
        <q-btn outline color="primary" @click="fileDataDialog.import"
          >Import</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
      </div>
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  const mapTPoS = obj => {
    obj.date = Quasar.utils.date.formatDate(
      new Date(obj.time * 1000),
      'YYYY-MM-DD HH:mm'
    )
    obj.tpos = ['/tpos/', obj.id].join('')
    obj.shareUrl = [
      window.location.protocol,
      '//',
      window.location.host,
      obj.tpos
    ].join('')
    obj.items = JSON.parse(obj.items)
    obj.itemsMap = new Map()
    obj.items.forEach((item, idx) => {
      let id = `${obj.id}:${idx + 1}`
      obj.itemsMap.set(id, {...item, id})
    })
    return obj
  }

  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    delimiters: ['${', '}'],
    data: function () {
      return {
        tposs: [],
        currencyOptions: [
          'sats',
          'USD',
          'EUR',
          'GBP',
          'AED',
          'AFN',
          'ALL',
          'AMD',
          'ANG',
          'AOA',
          'ARS',
          'AUD',
          'AWG',
          'AZN',
          'BAM',
          'BBD',
          'BDT',
          'BGN',
          'BHD',
          'BIF',
          'BMD',
          'BND',
          'BOB',
          'BRL',
          'BSD',
          'BTN',
          'BWP',
          'BYN',
          'BZD',
          'CAD',
          'CDF',
          'CHF',
          'CLF',
          'CLP',
          'CNH',
          'CNY',
          'COP',
          'CRC',
          'CUC',
          'CUP',
          'CVE',
          'CZK',
          'DJF',
          'DKK',
          'DOP',
          'DZD',
          'EGP',
          'ERN',
          'ETB',
          'EUR',
          'FJD',
          'FKP',
          'GBP',
          'GEL',
          'GGP',
          'GHS',
          'GIP',
          'GMD',
          'GNF',
          'GTQ',
          'GYD',
          'HKD',
          'HNL',
          'HRK',
          'HTG',
          'HUF',
          'IDR',
          'ILS',
          'IMP',
          'INR',
          'IQD',
          'IRR',
          'IRT',
          'ISK',
          'JEP',
          'JMD',
          'JOD',
          'JPY',
          'KES',
          'KGS',
          'KHR',
          'KMF',
          'KPW',
          'KRW',
          'KWD',
          'KYD',
          'KZT',
          'LAK',
          'LBP',
          'LKR',
          'LRD',
          'LSL',
          'LYD',
          'MAD',
          'MDL',
          'MGA',
          'MKD',
          'MMK',
          'MNT',
          'MOP',
          'MRO',
          'MUR',
          'MVR',
          'MWK',
          'MXN',
          'MYR',
          'MZN',
          'NAD',
          'NGN',
          'NIO',
          'NOK',
          'NPR',
          'NZD',
          'OMR',
          'PAB',
          'PEN',
          'PGK',
          'PHP',
          'PKR',
          'PLN',
          'PYG',
          'QAR',
          'RON',
          'RSD',
          'RUB',
          'RWF',
          'SAR',
          'SBD',
          'SCR',
          'SDG',
          'SEK',
          'SGD',
          'SHP',
          'SLL',
          'SOS',
          'SRD',
          'SSP',
          'STD',
          'SVC',
          'SYP',
          'SZL',
          'THB',
          'TJS',
          'TMT',
          'TND',
          'TOP',
          'TRY',
          'TTD',
          'TWD',
          'TZS',
          'UAH',
          'UGX',
          'USD',
          'UYU',
          'UZS',
          'VEF',
          'VES',
          'VND',
          'VUV',
          'WST',
          'XAF',
          'XAG',
          'XAU',
          'XCD',
          'XDR',
          'XOF',
          'XPD',
          'XPF',
          'XPT',
          'YER',
          'ZAR',
          'ZMW',
          'ZWL'
        ],
        tpossTable: {
          columns: [
            {name: 'id', align: 'left', label: 'ID', field: 'id'},
            {name: 'name', align: 'left', label: 'Name', field: 'name'},
            {
              name: 'currency',
              align: 'left',
              label: 'Currency',
              field: 'currency'
            },
            {
              name: 'withdrawtimeopt',
              align: 'left',
              label: 'mins/sec',
              field: 'withdrawtimeopt'
            },
            {
              name: 'withdrawpindisabled',
              align: 'left',
              label: 'atm pin disabled',
              field: 'withdrawpindisabled'
            }
          ],
          pagination: {
            rowsPerPage: 10
          }
        },
        withdrawoptions: [
          {
            label: 'Mins',
            value: 'mins'
          },
          {
            label: 'Secs',
            value: 'secs'
          }
        ],
        formDialog: {
          show: false,
          data: {
            withdrawpin: null,
            tip_options: [],
            withdrawbtwn: 10,
            withdrawtimeopt: '',
            withdrawpindisabled: false,
            tax_inclusive: true
          },
          advanced: {
            tips: false,
            otc: false
          }
        },
        itemDialog: {
          show: false,
          data: {
            title: '',
            image: '',
            price: '',
            categories: [],
            disabled: false
          }
        },
        tab: 'items',
        itemsTable: {
          columns: [
            {
              name: 'delete',
              align: 'left',
              label: '',
              field: ''
            },
            {
              name: 'edit',
              align: 'left',
              label: '',
              field: ''
            },

            {
              name: 'id',
              align: 'left',
              label: 'ID',
              field: 'id'
            },
            {
              name: 'title',
              align: 'left',
              label: 'Title',
              field: 'title'
            },
            {
              name: 'price',
              align: 'left',
              label: 'Price',
              field: 'price'
            },
            {
              name: 'tax',
              align: 'left',
              label: 'Tax',
              field: 'tax'
            },
            {
              name: 'disabled',
              align: 'left',
              label: 'Disabled',
              field: 'disabled'
            }
          ],
          pagination: {
            rowsPerPage: 10
          }
        },
        fileDataDialog: {
          show: false,
          data: {},
          import: () => {}
        },
        urlDialog: {
          show: false,
          data: {}
        }
      }
    },
    computed: {
      categoryList() {
        return Array.from(
          new Set(
            this.tposs.flatMap(tpos =>
              tpos.items.flatMap(item => item.categories || [])
            )
          )
        )
      }
    },
    methods: {
      generatePIN() {
        // random 6 digit PIN
        return Math.floor(100000 + Math.random() * 900000)
      },
      closeFormDialog() {
        this.formDialog.show = false
        this.formDialog.data = {
          withdrawpin: null,
          tip_options: [],
          withdrawbtwn: 10,
          tax_inclusive: true
        }
      },
      getTPoSs: function () {
        var self = this

        LNbits.api
          .request(
            'GET',
            '/tpos/api/v1/tposs?all_wallets=true',
            this.g.user.wallets[0].inkey
          )
          .then(function (response) {
            self.tposs = response.data.map(function (obj) {
              return mapTPoS(obj)
            })
          })
      },
      sendTPosData() {
        const data = {
          ...this.formDialog.data,
          tip_options:
            this.formDialog.advanced.tips && this.formDialog.data.tip_options
              ? JSON.stringify(
                  this.formDialog.data.tip_options.map(str => parseInt(str))
                )
              : JSON.stringify([]),
          tip_wallet:
            (this.formDialog.advanced.tips &&
              this.formDialog.data.tip_wallet) ||
            '',
          items: JSON.stringify(this.formDialog.data.items)
        }
        // delete withdrawbtwn if value is empty string, defaults to 10 minutes
        if (this.formDialog.data.withdrawbtwn == '') {
          delete data.withdrawbtwn
        }
        if (!this.formDialog.advanced.otc) {
          data.withdrawlimit = null
          data.withdrawpin = null
          data.withdrawpremium = null
        }
        const wallet = _.findWhere(this.g.user.wallets, {
          id: this.formDialog.data.wallet
        })
        if (data.id) {
          this.updateTPos(wallet, data)
        } else {
          this.createTPoS(wallet, data)
        }
      },
      updateTPosForm(tposId) {
        const tpos = _.findWhere(this.tposs, {id: tposId})
        this.formDialog.data = {
          ...tpos,
          tip_options: JSON.parse(tpos.tip_options)
        }
        if (this.formDialog.data.tip_wallet != '') {
          this.formDialog.advanced.tips = true
        }
        if (this.formDialog.data.withdrawlimit >= 1) {
          this.formDialog.advanced.otc = true
        }
        if (!this.formDialog.data.withdrawpin) {
          this.formDialog.data.withdrawpin = this.generatePIN()
        }
        this.formDialog.show = true
      },
      createTPoS(wallet, data) {
        LNbits.api
          .request('POST', '/tpos/api/v1/tposs', wallet.adminkey, data)
          .then(response => {
            this.tposs.push(mapTPoS(response.data))
            this.closeFormDialog()
          })
          .catch(error => {
            LNbits.utils.notifyApiError(error)
          })
      },
      updateTPos(wallet, data) {
        LNbits.api
          .request(
            'PUT',
            `/tpos/api/v1/tposs/${data.id}`,
            wallet.adminkey,
            data
          )
          .then(response => {
            this.tposs = _.reject(this.tposs, obj => {
              return obj.id == data.id
            })
            this.tposs.push(mapTPoS(response.data))
            this.closeFormDialog()
          })
          .catch(error => {
            LNbits.utils.notifyApiError(error)
          })
      },
      deleteTPoS: function (tposId) {
        var self = this
        var tpos = _.findWhere(this.tposs, {id: tposId})

        LNbits.utils
          .confirmDialog('Are you sure you want to delete this TPoS?')
          .onOk(function () {
            LNbits.api
              .request(
                'DELETE',
                '/tpos/api/v1/tposs/' + tposId,
                _.findWhere(self.g.user.wallets, {id: tpos.wallet}).adminkey
              )
              .then(function (response) {
                self.tposs = _.reject(self.tposs, function (obj) {
                  return obj.id == tposId
                })
              })
              .catch(function (error) {
                LNbits.utils.notifyApiError(error)
              })
          })
      },
      exportCSV: function () {
        LNbits.utils.exportCSV(this.tpossTable.columns, this.tposs)
      },
      itemsArray(tposId) {
        const tpos = _.findWhere(this.tposs, {id: tposId})
        return [...tpos.itemsMap.values()]
      },
      itemFormatPrice(price, id) {
        const tpos = id.split(':')[0]
        const currency = _.findWhere(this.tposs, {id: tpos}).currency
        return LNbits.utils.formatCurrency(Number(price).toFixed(2), currency)
      },
      openItemDialog(id) {
        const [tposId, itemId] = id.split(':')
        const tpos = _.findWhere(this.tposs, {id: tposId})

        if (itemId) {
          const item = tpos.itemsMap.get(id)
          this.itemDialog.data = {
            ...item,
            tpos: tposId
          }
        } else {
          this.itemDialog.data.tpos = tposId
        }
        this.itemDialog.taxInclusive = tpos.tax_inclusive
        this.itemDialog.data.currency = tpos.currency
        this.itemDialog.show = true
      },
      closeItemDialog() {
        this.itemDialog.show = false
        this.itemDialog.data = {
          title: '',
          image: '',
          price: '',
          categories: [],
          disabled: false
        }
      },
      deleteItem(id) {
        const [tposId, itemId] = id.split(':')
        const tpos = _.findWhere(this.tposs, {id: tposId})
        const wallet = _.findWhere(this.g.user.wallets, {
          id: tpos.wallet
        })
        LNbits.utils
          .confirmDialog('Are you sure you want to delete this item?')
          .onOk(() => {
            tpos.itemsMap.delete(id)
            const data = {
              items: [...tpos.itemsMap.values()]
            }
            this.updateTposItems(tpos.id, wallet, data)
          })
      },
      addItems() {
        const tpos = _.findWhere(this.tposs, {id: this.itemDialog.data.tpos})
        const wallet = _.findWhere(this.g.user.wallets, {
          id: tpos.wallet
        })
        if (this.itemDialog.data.id) {
          tpos.itemsMap.set(this.itemDialog.data.id, this.itemDialog.data)
        }
        const data = {
          items: this.itemDialog.data.id
            ? [...tpos.itemsMap.values()]
            : [...tpos.items, this.itemDialog.data]
        }
        this.updateTposItems(tpos.id, wallet, data)
      },
      deleteAllItems(tposId) {
        const tpos = _.findWhere(this.tposs, {id: tposId})
        const wallet = _.findWhere(this.g.user.wallets, {
          id: tpos.wallet
        })
        LNbits.utils
          .confirmDialog('Are you sure you want to delete ALL items?')
          .onOk(() => {
            tpos.itemsMap.clear()
            const data = {
              items: []
            }
            this.updateTposItems(tpos.id, wallet, data)
          })
      },
      updateTposItems(tposId, wallet, data) {
        const tpos = _.findWhere(this.tposs, {id: tposId})
        if (tpos.tax_inclusive != this.taxInclusive) {
          data.tax_inclusive = this.taxInclusive
        }
        LNbits.api
          .request(
            'PUT',
            `/tpos/api/v1/tposs/${tposId}/items`,
            wallet.adminkey,
            data
          )
          .then(response => {
            this.tposs = _.reject(this.tposs, obj => {
              return obj.id == tposId
            })
            this.tposs.push(mapTPoS(response.data))
            this.closeItemDialog()
          })
          .catch(error => {
            LNbits.utils.notifyApiError(error)
          })
      },
      exportJSON(tposId) {
        const tpos = _.findWhere(this.tposs, {id: tposId})
        const data = [...tpos.items]
        const filename = `items_${tpos.id}.json`
        const json = JSON.stringify(data, null, 2)
        let status = Quasar.utils.exportFile(filename, json)
        if (status !== true) {
          this.$q.notify({
            message: 'Browser denied file download...',
            color: 'negative'
          })
        }
      },
      importJSON(tposId) {
        try {
          let input = document.getElementById('import')
          input.click()
          input.onchange = e => {
            let file = e.target.files[0]
            let reader = new FileReader()
            reader.readAsText(file, 'UTF-8')
            reader.onload = async readerEvent => {
              try {
                let content = readerEvent.target.result
                let data = JSON.parse(content).filter(
                  obj => obj.title && obj.price
                )
                if (!data.length) {
                  throw new Error('Invalid JSON or missing data.')
                }
                this.openFileDataDialog(tposId, data)
              } catch (error) {
                this.$q.notify({
                  message: `Error importing file. ${error.message}`,
                  color: 'negative'
                })
                return
              }
            }
          }
        } catch (error) {
          this.$q.notify({
            message: 'Error importing file',
            color: 'negative'
          })
        }
      },
      openFileDataDialog(tposId, data) {
        const tpos = _.findWhere(this.tposs, {id: tposId})
        const wallet = _.findWhere(this.g.user.wallets, {
          id: tpos.wallet
        })
        data.forEach(item => {
          item.formattedPrice = this.formatAmount(item.price, tpos.currency)
        })
        this.fileDataDialog.data = data
        this.fileDataDialog.count = data.length
        this.fileDataDialog.show = true
        this.fileDataDialog.import = () => {
          let updatedData = {
            items: [...tpos.items, ...data]
          }
          this.updateTposItems(tpos.id, wallet, updatedData)
          this.fileDataDialog.data = {}
          this.fileDataDialog.show = false
        }
      },
      openUrlDialog(id) {
        this.urlDialog.data = _.findWhere(this.tposs, {id})
        this.urlDialog.show = true
      },
      formatAmount: function (amount, currency) {
        if (currency == 'sats') {
          return LNbits.utils.formatSat(amount) + ' sat'
        } else {
          return LNbits.utils.formatCurrency(
            Number(amount).toFixed(2),
            currency
          )
        }
      }
    },
    created: function () {
      if (this.g.user.wallets.length) {
        this.getTPoSs()
      }
    }
  })
</script>
{% endblock %}
