{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn unelevated color="primary" @click="formDialog.show = true"
          >New TPoS</q-btn
        >
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">TPoS</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportCSV">Export to CSV</q-btn>
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="tposs"
          row-key="id"
          :columns="tpossTable.columns"
          v-model:pagination="tpossTable.pagination"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th auto-width></q-th>
              <q-th auto-width></q-th>
              <q-th auto-width></q-th>
              <q-th
                v-text="col.label"
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
              ></q-th>
              <q-th auto-width>Withdraw Limit</q-th>
              <q-th auto-width>Withdraw Premium</q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  size="sm"
                  color="accent"
                  round
                  dense
                  @click="props.expand = !props.expand"
                  :icon="props.expand ? 'expand_less' : 'expand_more'"
                />
              </q-td>
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="sm"
                  icon="qr_code"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  class="q-mr-sm"
                  @click="openUrlDialog(props.row.id)"
                  ><q-tooltip>PoS QR</q-tooltip></q-btn
                >
                <q-btn
                  unelevated
                  dense
                  size="sm"
                  icon="launch"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="props.row.tpos"
                  target="_blank"
                  ><q-tooltip>Open PoS</q-tooltip></q-btn
                >
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="updateTposForm(props.row.id)"
                  icon="edit"
                  color="blue"
                ></q-btn>
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteTpos(props.row.id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>

              <q-td
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
                v-text="col.value"
              >
              </q-td>
              <q-td v-if="props.row.withdraw_limit >= 1" auto-width>
                <span v-text="props.row.withdraw_limit"></span>
              </q-td>
              <q-td v-else auto-width>N/A</q-td>
              <q-td v-if="props.row.withdraw_premium > 0" auto-width>
                <span v-text="`${props.row.withdraw_premium}%`"></span>
              </q-td>
              <q-td v-else auto-width>0</q-td>
            </q-tr>
            <q-tr v-show="props.expand" :props="props">
              <q-td colspan="100%">
                <div class="row items-center q-mb-lg q-mt-lg">
                  <div class="col-12 col-md-4">
                    <q-option-group
                      :model-value="props.row.use_inventory"
                      :options="inventoryModeOptions"
                      @update:model-value="onInventoryModeChange(props.row, $event)"
                    >
                      <q-tooltip
                        v-if="!inventoryStatus.enabled"
                        class="q-pa-sm"
                      >
                        inventory extension must be enabled.
                      </q-tooltip>
                    </q-option-group>
                  </div>
                  <div class="col-12 col-md-6" v-if="props.row.use_inventory">
                    <q-select
                      filled
                      dense
                      multiple
                      emit-value
                      map-options
                      use-input
                      use-chips
                      hide-dropdown-icon
                      v-model="props.row.inventory_tags"
                      :options="inventoryTagOptions"
                      label="Inventory tags"
                      hint="Frontend tags"
                      :disable="!inventoryStatus.enabled"
                      @update:model-value="onInventoryTagsChange(props.row, $event)"
                    ></q-select>
                    <q-select
                      filled
                      dense
                      multiple
                      emit-value
                      map-options
                      use-input
                      use-chips
                      hide-dropdown-icon
                      v-model="props.row.inventory_omit_tags"
                      :options="inventoryOmitTagOptions"
                      label="Omit tags"
                      hint="Exclude products carrying these tags"
                      :disable="!inventoryStatus.enabled"
                      @update:model-value="onInventoryOmitTagsChange(props.row, $event)"
                    ></q-select>
                  </div>
                </div>
                <div v-if="props.row.use_inventory" class="q-mb-md">
                  <q-banner dense rounded class="bg-grey-2 text-dark">
                    Using items from the Inventory extension. Tags control which
                    products appear in PoS.
                  </q-banner>
                </div>
                <div v-else class="row items-center q-mb-lg">
                  <div class="col-12">
                    <q-tabs
                      v-model="tab"
                      no-caps
                      class="bg-dark text-white shadow-2"
                    >
                      <q-tab name="items" label="Items"></q-tab>
                    </q-tabs>
                    <q-tab-panels v-model="tab">
                      <q-tab-panel name="items">
                        <div>
                          <div class="row items-center no-wrap q-mb-md">
                            <div class="col-12 q-pr-lg">
                              <q-btn
                                color="primary"
                                unelevated
                                @click="openItemDialog(props.row.id)"
                                class="float-left q-my-sm"
                                :disable="props.row.use_inventory"
                                >Add Item</q-btn
                              >
                              <q-btn
                                color="grey"
                                outline
                                unelevated
                                @click="deleteAllItems(props.row.id)"
                                class="float-left q-my-sm q-ml-sm"
                                :disable="props.row.use_inventory"
                                >Delete All</q-btn
                              >
                              <q-btn-dropdown
                                class="float-right q-my-sm"
                                outline
                                color="primary"
                                label="Import/Export"
                                :disable="props.row.use_inventory"
                              >
                                <q-list>
                                  <q-item
                                    clickable
                                    v-close-popup
                                    @click="importJSON(props.row.id)"
                                  >
                                    <input
                                      id="import"
                                      type="file"
                                      accept=".json"
                                      style="display: none"
                                    />
                                    <q-item-section>
                                      <q-item-label>Import</q-item-label>
                                      <q-item-label caption
                                        >Import a JSON file</q-item-label
                                      >
                                    </q-item-section>
                                  </q-item>

                                  <q-item
                                    clickable
                                    v-close-popup
                                    @click="exportJSON(props.row.id)"
                                  >
                                    <q-item-section>
                                      <q-item-label>Export</q-item-label>
                                      <q-item-label caption
                                        >Export a JSON file</q-item-label
                                      >
                                    </q-item-section>
                                  </q-item>
                                </q-list>
                              </q-btn-dropdown>
                            </div>
                          </div>

                          <div class="row items-center no-wrap q-mb-md">
                            <div class="col-12">
                              <q-table
                                flat
                                dense
                                :rows="itemsArray(props.row.id)"
                                row-key="id"
                                :columns="itemsTable.columns"
                                :pagination.sync="itemsTable.pagination"
                              >
                                <template v-slot:header="props">
                                  <q-tr :props="props">
                                    <q-th
                                      v-for="col in props.cols"
                                      :key="col.name"
                                      :props="props"
                                      v-text="col.label"
                                    ></q-th>
                                  </q-tr>
                                </template>
                                <template v-slot:body="props">
                                  <q-tr :props="props">
                                    <q-td auto-width>
                                      <q-btn
                                        size="sm"
                                        color="pink"
                                        dense
                                        @click="deleteItem(props.row.id)"
                                        icon="delete"
                                        :disable="props.row.use_inventory"
                                      ></q-btn>
                                    </q-td>
                                    <q-td auto-width>
                                      <q-btn
                                        size="sm"
                                        color="accent"
                                        dense
                                        @click="openItemDialog(props.row.id)"
                                        icon="edit"
                                        :disable="props.row.use_inventory"
                                      ></q-btn>
                                    </q-td>
                                    <q-td key="id" :props="props">
                                      <span
                                        v-text="props.row.id.split(':')[1]"
                                      ></span>
                                    </q-td>
                                    <q-td key="title" :props="props">
                                      <span v-text="props.row.title"></span>
                                    </q-td>
                                    <q-td key="price" :props="props">
                                      <span
                                        v-text="itemFormatPrice(props.row.price, props.row.id)"
                                      ></span>
                                    </q-td>
                                    <q-td key="tax" :props="props">
                                      <span v-text="`${props.row.tax}%`"></span>
                                    </q-td>
                                    <q-td key="disabled" :props="props">
                                      <span v-text="props.row.disabled"></span>
                                    </q-td>
                                  </q-tr>
                                </template>
                              </q-table>
                            </div>
                          </div>
                        </div>
                      </q-tab-panel>
                    </q-tab-panels>
                  </div>
                </div>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">{{SITE_TITLE}} TPoS extension</h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list>
          {% include "tpos/_api_docs.html" %}
          <q-separator></q-separator>
          {% include "tpos/_tpos.html" %}
        </q-list>
      </q-card-section>
      <q-card-section v-if="anyRecordsWithFiat">
        <b>TO USE FIAT TAP-TO-PAY</b> <br />
        * Your LNbits install must have a Stripe key/webhook in the "fiat
        provider" area in settings, the key must have permissions for all
        "checkout" and "payment_intents".<br />
        * Install latest release for
        <a href="https://github.com/lnbits/TPoS-Stripe-Tap-to-Pay-Wrapper"
          >TPoS-Wrapper</a
        >
        apk (Android only).<br />
        * Create a location for a terminal in Stripe.<br />
        * Create an ACL token in LNbits with permissions for "fiat"
        <a href="/account">Access Control List</a>.<br />
        * Click the QR for the PoS record and add a Stripe terminal location ID
        and ACL token.<br />
        * Scan the QR in the TPoS Wrapper app.<br />
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="formDialog.show" position="top" @hide="closeFormDialog">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="sendTposData" class="q-gutter-md">
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.name"
          label="Name *"
          placeholder="Tiago's PoS"
        ></q-input>
        <q-select
          filled
          dense
          emit-value
          v-model="formDialog.data.wallet"
          :options="g.user.walletOptions"
          label="Wallet *"
        ></q-select>
        <q-select
          v-if="'{{LNBITS_DENOMINATION}}' == 'sats'"
          filled
          dense
          emit-value
          v-model="formDialog.data.currency"
          :options="currencyOptions"
          label="Currency *"
        ></q-select>
        <q-select
          v-if="formDialog.data.currency != '{{LNBITS_DENOMINATION}}' && hasFiatProvider"
          filled
          dense
          emit-value
          v-model="formDialog.data.fiat_provider"
          :options="fiatProviders"
          label="Fiat payments"
          hint="Choose what fiat platform to use for fiat payments."
        >
          <template v-if="formDialog.data.fiat_provider" v-slot:append>
            <q-icon
              name="cancel"
              @click.stop.prevent="formDialog.data.fiat_provider = null"
              class="cursor-pointer"
            />
          </template>
        </q-select>
        <div
          v-if="(formDialog.data.fiat_provider || []).includes('stripe')"
          class="row"
        >
          <div class="col">
            <q-checkbox
              v-model="formDialog.data.stripe_card_payments"
              label="Allow Stripe card payments"
            >
              <q-tooltip>
                <span
                  v-text="'If enabled, invoices can be paid by tapping a card.'"
                ></span
              ></q-tooltip>
            </q-checkbox>
          </div>
          <div class="col">
            <small>
              After saving use the QR code button to create the pairing code.
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <q-checkbox
              v-model="formDialog.data.lnaddress"
              label="LNaddress funding"
            >
              <q-tooltip>
                <span
                  v-text="'If enabled, the tpos can be funded with a LNaddress in the public page.'"
                ></span
              ></q-tooltip>
            </q-checkbox>
          </div>
          <div class="col">
            <q-input
              filled
              dense
              :disable="!formDialog.data.lnaddress"
              v-model="formDialog.data.lnaddress_cut"
              type="number"
              label="LNaddress cut 0-100 percent"
              ><q-tooltip>
                <span
                  v-text="'Percent charge for using the LNaddress funding option. To go to the TPoS wallet.'"
                ></span
              ></q-tooltip>
            </q-input>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <q-checkbox
              v-model="formDialog.advanced.tips"
              label="Enable tips"
            ></q-checkbox>
          </div>
          <div class="col">
            <q-checkbox
              v-model="formDialog.advanced.otc"
              label="Enable selling BTC (ATM)"
            ></q-checkbox>
          </div>
          <div class="col">
            <q-checkbox
              v-model="formDialog.data.enable_receipt_print"
              label="Enable printing (experimental)"
            ></q-checkbox>
          </div>
        </div>
        <template v-if="formDialog.data.enable_receipt_print">
          <p class="text-caption">
            Receipt printing is an experimental feature. Not all devices work
            correctly, or work at all.
          </p>
          <q-input
            filled
            dense
            v-model="formDialog.data.business_name"
            label="Business name"
            placeholder="My Shop"
          ></q-input>
          <q-input
            v-model="formDialog.data.business_address"
            filled
            label="Business address"
            placeholder="123 Main St, City, Country"
            type="textarea"
          ></q-input>
          <q-input
            filled
            dense
            v-model="formDialog.data.business_vat_id"
            label="VAT ID"
            placeholder="123456789"
          ></q-input>
        </template>
        <template v-if="formDialog.advanced.tips">
          <q-select
            filled
            dense
            emit-value
            v-model="formDialog.data.tip_wallet"
            :options="g.user.walletOptions"
            label="Tip Wallet"
          ></q-select>
          <q-select
            filled
            multiple
            dense
            emit-value
            v-model="formDialog.data.tip_options"
            v-if="formDialog.data.tip_wallet"
            use-input
            use-chips
            hide-dropdown-icon
            input-debounce="0"
            inputmode="numeric"
            new-value-mode="add-unique"
            label="Tip % Options (hit enter to add values)"
            ><q-tooltip>Hit enter to add values</q-tooltip>
            <template v-slot:hint>
              You can leave this blank. A default rounding option is available
              (round amount to a value)
            </template>
          </q-select>
        </template>
        <template v-if="formDialog.advanced.otc">
          <q-input
            filled
            dense
            v-model.number="formDialog.data.withdraw_limit"
            type="number"
            label="Max amount to be sold daily ({{LNBITS_DENOMINATION}}) *"
          ></q-input>

          <div class="row">
            <div class="col-8">
              <q-input
                filled
                dense
                v-model.number="formDialog.data.withdraw_between"
                type="number"
                min="0"
                label="Time between withdraws"
              ></q-input>
            </div>
            <div class="col-4">
              <q-option-group
                v-model="formDialog.data.withdraw_time_option"
                :options="withdraw_options"
                color="primary"
                inline
              ></q-option-group>
            </div>
          </div>

          <q-input
            filled
            dense
            v-model.number="formDialog.data.withdraw_premium"
            type="number"
            label="Withdraw premium %"
            step="0.01"
            min="0"
          ></q-input>
        </template>
        <q-list>
          <q-expansion-item
            expand-separator
            icon="inventory"
            label="Tax settings"
            caption="Only applicable when using items/products"
          >
            <q-card>
              <q-card-section>
                Tax Inclusive means the unit price includes tax. (default)
                <br />
                Tax Exclusive means tax is applied on top of the unit price.
              </q-card-section>
              <q-card-section>
                <div class="row q-mt-lg">
                  <div class="col-12 col-md-6">
                    <q-toggle
                      v-model="formDialog.data.tax_inclusive"
                      :label="formDialog.data.tax_inclusive ?
                                  'Tax Inclusive' :
                                  'Tax Exclusive'"
                      ><q-tooltip>
                        <span
                          v-text="'Applies to all products'"
                        ></span> </q-tooltip
                    ></q-toggle>
                  </div>
                  <div class="col-12 col-md-6">
                    <q-input
                      filled
                      dense
                      v-model.number="formDialog.data.tax_default"
                      type="number"
                      label="Default tax rate %"
                      step="0.01"
                      min="0"
                      max="100"
                      hint="Fallback tax rate if not set on product"
                    ></q-input>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </q-list>
        <div class="row q-mt-lg">
          <q-btn
            v-if="formDialog.data.id"
            unelevated
            color="primary"
            type="submit"
            :disable="createOrUpdateDisabled"
            >Update TPoS</q-btn
          >
          <q-btn
            v-else
            unelevated
            color="primary"
            :disable="createOrUpdateDisabled"
            type="submit"
            >Create TPoS</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
  <q-dialog v-model="itemDialog.show" position="top" @hide="closeItemDialog">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="addItems" class="q-gutter-md">
        <q-input
          filled
          dense
          v-model.trim="itemDialog.data.title"
          label="Title *"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="itemDialog.data.description"
          label="Description"
        ></q-input>
        <q-input
          filled
          dense
          v-model.trim="itemDialog.data.image"
          label="Image URL"
        ></q-input>
        <q-input
          filled
          dense
          v-model.number="itemDialog.data.price"
          :label="`Price (${itemDialog.data.currency})*`"
        ></q-input>
        <q-select
          filled
          multiple
          dense
          emit-value
          v-model="itemDialog.data.categories"
          :options="categoryList"
          use-input
          use-chips
          hide-dropdown-icon
          input-debounce="0"
          new-value-mode="add-unique"
          label="Categories (hit enter to add values)"
        ></q-select>
        <q-input
          filled
          dense
          v-model.number="itemDialog.data.tax"
          label="Tax %"
          :hint="`${itemDialog.taxInclusive ? 'Tax is included on unit price' : 'Tax is added on top of unit price'}. You can change behaviour on TPoS settings.`"
        ></q-input>
        <q-checkbox
          v-model="itemDialog.data.disabled"
          label="Disable"
        ></q-checkbox>
        <div class="row q-mt-lg">
          <q-btn
            unelevated
            color="primary"
            :disable="!Boolean(itemDialog.data.title) || !Boolean(itemDialog.data.price)"
            type="submit"
            :label="itemDialog.data.id ? 'Update Item' : 'Create Item'"
          ></q-btn>
          <q-btn
            v-close-popup
            @hide="closeItemDialog"
            flat
            color="grey"
            class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
  <q-dialog v-model="urlDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <lnbits-qrcode
        :value="urlDialog.data.shareUrl + '?pos=' + urlDialog.data.posLocation + '&auth=' + urlDialog.data.auth"
      ></lnbits-qrcode>
      <div class="text-center q-mb-xl">
        <p style="word-break: break-all">
          <strong v-text="urlDialog.data.name"></strong><br />
          <span v-text="urlDialog.data.shareUrl"></span>
        </p>
      </div>
      <div v-if="urlDialog.data.stripe_card_payments">
        <div class="row q-mt-lg">
          <div class="col">
            <q-input
              v-model="urlDialog.data.posLocation"
              label="PoS Stripe Location"
            >
            </q-input>
          </div>
          <div class="col">
            <small>
              Create a new location and copy the ID here
              https://dashboard.stripe.com/terminal
            </small>
          </div>
        </div>
        <div class="row q-mt-lg">
          <div class="col">
            <q-input v-model="urlDialog.data.auth" label="ACL Token"> </q-input>
          </div>
          <div class="col">
            <small>
              Go to /account and set a new auth token with /fiat read and write
              permissions.
            </small>
          </div>
        </div>
      </div>
      <div class="row q-mt-lg">
        <q-btn
          outline
          color="grey"
          @click="copyText(urlDialog.data.shareUrl, 'TPoS URL copied to clipboard!')"
          >Copy URL</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
      </div>
    </q-card>
  </q-dialog>
  <q-dialog v-model="fileDataDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          <span v-text="`Importing ${fileDataDialog?.count} items`"></span>
        </h6>
      </q-card-section>
      <q-list bordered padding separator>
        <q-item v-for="item in fileDataDialog.data" :key="item.name">
          <q-item-section v-if="item.image" top avatar>
            <q-avatar>
              <img :src="item.image" style="object-fit: scale-down" />
            </q-avatar>
          </q-item-section>

          <q-item-section>
            <q-item-label v-text="item.title"></q-item-label>
            <q-item-label
              v-if="item.description"
              caption
              v-text="item.description"
            ></q-item-label>
          </q-item-section>

          <q-item-section side top>
            <q-badge :label="item.formattedPrice" />
          </q-item-section>
        </q-item>
      </q-list>
      <div class="row q-mt-lg">
        <q-btn outline color="primary" @click="fileDataDialog.import"
          >Import</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
      </div>
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  const DENOMINATION = '{{ LNBITS_DENOMINATION }}'
</script>
<script src="{{ static_url_for('tpos/static', path='js/index.js') }}"></script>
{% endblock %}
