{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn unelevated color="primary" @click="formDialog.show = true"
          >New TPoS</q-btn
        >
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">TPoS</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportCSV">Export to CSV</q-btn>
          </div>
        </div>
        <q-table
          dense
          flat
          :rows="tposs"
          row-key="id"
          :columns="tpossTable.columns"
          v-model:pagination="tpossTable.pagination"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th auto-width></q-th>
              <q-th auto-width></q-th>
              <q-th auto-width></q-th>
              <q-th
                v-text="col.label"
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
              ></q-th>
              <q-th auto-width>Withdraw Limit</q-th>
              <q-th auto-width>Withdraw Premium</q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  size="sm"
                  color="accent"
                  round
                  dense
                  @click="props.expand = !props.expand"
                  :icon="props.expand ? 'expand_less' : 'expand_more'"
                />
              </q-td>
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="sm"
                  icon="qr_code"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  class="q-mr-sm"
                  @click="openUrlDialog(props.row.id)"
                  ><q-tooltip>PoS QR</q-tooltip></q-btn
                >
                <q-btn
                  unelevated
                  dense
                  size="sm"
                  icon="launch"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="props.row.tpos"
                  target="_blank"
                  ><q-tooltip>Open PoS</q-tooltip></q-btn
                >
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="updateTposForm(props.row.id)"
                  icon="edit"
                  color="blue"
                ></q-btn>
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteTpos(props.row.id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>

              <q-td
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
                v-text="col.value"
              >
              </q-td>
              <q-td v-if="props.row.withdraw_limit >= 1" auto-width>
                <span v-text="props.row.withdraw_limit"></span>
              </q-td>
              <q-td v-else auto-width>N/A</q-td>
              <q-td v-if="props.row.withdraw_premium > 0" auto-width>
                <span v-text="`${props.row.withdraw_premium}%`"></span>
              </q-td>
              <q-td v-else auto-width>0</q-td>
            </q-tr>
            <q-tr v-show="props.expand" :props="props">
              <q-td colspan="100%">
                <div class="row items-center q-mb-lg q-mt-lg">
                  <div class="col-12 col-md-4">
                    <q-option-group
                      :model-value="props.row.use_inventory"
                      :options="inventoryModeOptions"
                      @update:model-value="onInventoryModeChange(props.row, $event)"
                    >
                      <q-tooltip
                        v-if="!inventoryStatus.enabled"
                        class="q-pa-sm"
                      >
                        inventory extension must be enabled.
                      </q-tooltip>
                    </q-option-group>
                  </div>
                  <div class="col-12 col-md-6" v-if="props.row.use_inventory">
                    <q-select
                      filled
                      dense
                      multiple
                      emit-value
                      map-options
                      use-input
                      use-chips
                      hide-dropdown-icon
                      v-model="props.row.inventory_tags"
                      :options="inventoryTagOptions"
                      label="Inventory tags"
                      hint="Frontend tags"
                      :disable="!inventoryStatus.enabled"
                      @update:model-value="onInventoryTagsChange(props.row, $event)"
                    ></q-select>
                    <q-select
                      filled
                      dense
                      multiple
                      emit-value
                      map-options
                      use-input
                      use-chips
                      hide-dropdown-icon
                      v-model="props.row.inventory_omit_tags"
                      :options="inventoryOmitTagOptions"
                      label="Omit tags"
                      hint="Exclude products carrying these tags"
                      :disable="!inventoryStatus.enabled"
                      @update:model-value="onInventoryOmitTagsChange(props.row, $event)"
                    ></q-select>
                  </div>
                </div>
                <div v-if="props.row.use_inventory" class="q-mb-md">
                  <q-banner dense rounded class="bg-grey-2 text-dark">
                    Using items from the Inventory extension. Tags control which
                    products appear in PoS.
                  </q-banner>
                </div>
                <div v-else class="row items-center q-mb-lg">
                  <div class="col-12">
                    <q-tabs
                      v-model="tab"
                      no-caps
                      class="bg-dark text-white shadow-2"
                    >
                      <q-tab name="items" label="Items"></q-tab>
                    </q-tabs>
                    <q-tab-panels v-model="tab">
                      <q-tab-panel name="items">
                        <div>
                          <div class="row items-center no-wrap q-mb-md">
                            <div class="col-12 q-pr-lg">
                              <q-btn
                                color="primary"
                                unelevated
                                @click="openItemDialog(props.row.id)"
                                class="float-left q-my-sm"
                                :disable="props.row.use_inventory"
                                >Add Item</q-btn
                              >
                              <q-btn
                                color="grey"
                                outline
                                unelevated
                                @click="deleteAllItems(props.row.id)"
                                class="float-left q-my-sm q-ml-sm"
                                :disable="props.row.use_inventory"
                                >Delete All</q-btn
                              >
                              <q-btn-dropdown
                                class="float-right q-my-sm"
                                outline
                                color="primary"
                                label="Import/Export"
                                :disable="props.row.use_inventory"
                              >
                                <q-list>
                                  <q-item
                                    clickable
                                    v-close-popup
                                    @click="importJSON(props.row.id)"
                                  >
                                    <input
                                      id="import"
                                      type="file"
                                      accept=".json"
                                      style="display: none"
                                    />
                                    <q-item-section>
                                      <q-item-label>Import</q-item-label>
                                      <q-item-label caption
                                        >Import a JSON file</q-item-label
                                      >
                                    </q-item-section>
                                  </q-item>

                                  <q-item
                                    clickable
                                    v-close-popup
                                    @click="exportJSON(props.row.id)"
                                  >
                                    <q-item-section>
                                      <q-item-label>Export</q-item-label>
                                      <q-item-label caption
                                        >Export a JSON file</q-item-label
                                      >
                                    </q-item-section>
                                  </q-item>
                                </q-list>
                              </q-btn-dropdown>
                            </div>
                          </div>

                          <div class="row items-center no-wrap q-mb-md">
                            <div class="col-12">
                              <q-table
                                flat
                                dense
                                :rows="itemsArray(props.row.id)"
                                row-key="id"
                                :columns="itemsTable.columns"
                                :pagination.sync="itemsTable.pagination"
                              >
                                <template v-slot:header="props">
                                  <q-tr :props="props">
                                    <q-th
                                      v-for="col in props.cols"
                                      :key="col.name"
                                      :props="props"
                                      v-text="col.label"
                                    ></q-th>
                                  </q-tr>
                                </template>
                                <template v-slot:body="props">
                                  <q-tr :props="props">
                                    <q-td auto-width>
                                      <q-btn
                                        size="sm"
                                        color="pink"
                                        dense
                                        @click="deleteItem(props.row.id)"
                                        icon="delete"
                                        :disable="props.row.use_inventory"
                                      ></q-btn>
                                    </q-td>
                                    <q-td auto-width>
                                      <q-btn
                                        size="sm"
                                        color="accent"
                                        dense
                                        @click="openItemDialog(props.row.id)"
                                        icon="edit"
                                        :disable="props.row.use_inventory"
                                      ></q-btn>
                                    </q-td>
                                    <q-td key="id" :props="props">
                                      <span
                                        v-text="props.row.id.split(':')[1]"
                                      ></span>
                                    </q-td>
                                    <q-td key="title" :props="props">
                                      <span v-text="props.row.title"></span>
                                    </q-td>
                                    <q-td key="price" :props="props">
                                      <span
                                        v-text="itemFormatPrice(props.row.price, props.row.id)"
                                      ></span>
                                    </q-td>
                                    <q-td key="tax" :props="props">
                                      <span v-text="`${props.row.tax}%`"></span>
                                    </q-td>
                                    <q-td key="disabled" :props="props">
                                      <span v-text="props.row.disabled"></span>
                                    </q-td>
                                  </q-tr>
                                </template>
                              </q-table>
                            </div>
                          </div>
                        </div>
                      </q-tab-panel>
                    </q-tab-panels>
                  </div>
                </div>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">{{SITE_TITLE}} TPoS extension</h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list>
          {% include "tpos/_api_docs.html" %}
          <q-separator></q-separator>
          {% include "tpos/_tpos.html" %}
        </q-list>
      </q-card-section>
      <q-card-section v-if="anyRecordsWithFiat">
        <b>TO USE FIAT TAP-TO-PAY</b> <br />
        * Your LNbits install must have a Stripe key/webhook in the "fiat
        provider" area in settings, the key must have permissions for all
        "checkout" and "payment_intents".<br />
        * Install latest release for
        <a href="https://github.com/lnbits/TPoS-Stripe-Tap-to-Pay-Wrapper"
          >TPoS-Wrapper</a
        >
        apk (Android only).<br />
        * Create a location for a terminal in Stripe.<br />
        * Click the QR for the PoS record, enable the wrapper option, and add a
        Stripe terminal location ID.<br />
        * LNbits will generate a 2-year ACL token with /fiat permissions and add
        it to the wrapper URL automatically.<br />
        * Scan the QR in the TPoS Wrapper app.<br />
      </q-card-section>
    </q-card>
  </div>

  <tpos-admin-form-dialog
    :dialog="formDialog"
    :g="g"
    :currency-options="currencyOptions"
    :has-fiat-provider="hasFiatProvider"
    :fiat-providers="fiatProviders"
    :is-fiat-currency="isFiatCurrency"
    :onchain-status="onchainStatus"
    :onchain-wallet-options="onchainWalletOptions"
    :withdraw-options="withdraw_options"
    :create-or-update-disabled="createOrUpdateDisabled"
    @close="closeFormDialog"
    @submit="sendTposData"
  ></tpos-admin-form-dialog>
  <tpos-admin-item-dialog
    :dialog="itemDialog"
    :category-list="categoryList"
    @close="closeItemDialog"
    @submit="addItems"
  ></tpos-admin-item-dialog>
  <tpos-admin-share-dialog
    :dialog="urlDialog"
    :build-share-url="buildTposShareUrl"
    @warm-wrapper-assetlinks="warmWrapperAssetlinks"
    @generate-wrapper-token="generateWrapperToken"
    @copy-url="copyText($event, 'TPoS URL copied to clipboard!')"
  ></tpos-admin-share-dialog>
  <tpos-admin-import-dialog
    :dialog="fileDataDialog"
    @import="fileDataDialog.import"
  ></tpos-admin-import-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script src="{{ static_url_for('tpos/static', path='js/tpos-utils.js') }}"></script>
<script src="{{ static_url_for('tpos/static', path='js/index.js') }}"></script>
<script src="{{ static_url_for('tpos/static', path='components/admin-form-dialog.js') }}"></script>
<script src="{{ static_url_for('tpos/static', path='components/admin-item-dialog.js') }}"></script>
<script src="{{ static_url_for('tpos/static', path='components/admin-share-dialog.js') }}"></script>
<script src="{{ static_url_for('tpos/static', path='components/admin-import-dialog.js') }}"></script>
{% endblock %}
